* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

html,
body {
  font-family: Impact, "Arial Narrow Bold", sans-serif;
  overflow-x: hidden;
  height: 100%;
}

/* NAVIGATION BAR */

header {
  display: flex;
  justify-content: flex-end;
}

header .logo {
  margin-right: auto;
  font-size: 40px;
  margin-left: 1em;
  margin-top: 0.5em;
}

nav {
  display: flex;
  margin-top: 2em;
}

header li {
  list-style: none;
  margin-right: 2em;
  font-size: 20px;
  margin-top: 0em;
}

.contact {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid black;
  border-radius: 15px;
}

.contact:hover {
  background-color: blue;
  color: white;
}

/* Explaination */

.typewriter p {
  font-size: 30px;
}

.typewriter {
  margin-left: 15em;
  margin-top: 12.5em;
}

.second {
  margin-left: 3em;
}

.third {
  margin-left: 8em;
}

.typewriter .first {
  color: black;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: typing 3.5s steps(40, end);
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.typewriter .second {
  color: black;
  font-family: monospace;
}

.typewriter .third {
  color: black;
  font-family: monospace;
}

/* IMAGE */

.img {
  display: flex;
  justify-content: center;
  margin-top: 12em;
  background-color: #9b5de5;
  padding-top: 3em;
  padding-bottom: 10em;
}

.svg {
  width: 50%;
  height: 100%;
  scale: stretch;
}

/* TABLE CHART */

.table {
  display: flex;
  justify-content: space-around;
  margin-top: -6.5em;
}
.contain1 {
  height: 30em;
  width: 17em;
  background-color: white;
  border-radius: 20px;
}

.contain2 {
  height: 30em;
  width: 17em;
  background-color: #f9f9f9;
  border-radius: 20px;
}

.contain2 p {
  text-align: center;
  margin-bottom: 1em;
  margin-top: -1em;
}

.contain2 .main {
  font-size: 50px;
  color: #9b5de5;
  margin-top: 0.5em;
}

.self {
  font-style: italic;
  font-weight: 100;
}

.contain2 .ex {
  margin-top: 2em;
}

.contain2 .mentor {
  font-size: 30px;
  margin-top: 1em;
  color: #9b5de5;
}

.stats {
  margin-top: 1em;
  font-size: 20px;
}

.contain2 li {
  text-align: center;
  list-style: none;
}

.contain3 {
  height: 30em;
  width: 17em;
  background-color: white;
  border-radius: 20px;
}

/* IMAGES */

.pht {
  margin-top: -20em;
  margin-left: 10em;
}

.ht {
  width: 10%;
  height: 20%;
  background-color: white;
  margin-left: -2em;
}

.cs {
  width: 15%;
  height: 20%;
  background-color: white;
  margin-left: 38em;
}

/* BUTTON ANIMATION */

.anim {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.btn {
  margin-top: 10em;
  padding: 15px;
  border-radius: 30px;
  cursor: pointer;
}

.btn:hover {
  background-color: blue;
  color: white;
}

/* MY SKILLS GRAPH */

.skil {
  font-size: 30px;
  text-decoration: underline;
  margin-bottom: 5em;
}

.container {
  width: 75%;
  background-color: #ddd;
  border-radius: 10px;
  margin-bottom: 5em;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  border-radius: 10px;
}

.html {
  width: 90%;
  background-color: #4caf50;
}
.css {
  width: 80%;
  background-color: #2196f3;
}
.js {
  width: 65%;
  background-color: #f44336;
}

.photoshop {
  width: 80%;
  background-color: blue;
}

.illistrator {
  width: 95%;
  background-color: red;
  margin-bottom: 0;
}

.graph {
  margin-top: 12em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10em;
  width: 100%;
  margin-left: 0em;
}

.h {
  margin-left: -16em;
  margin-top: 2em;
  margin-bottom: 1em;
  font-style: oblique;
  font-size: 40px;
}

.c {
  margin-left: -17em;
  margin-top: 2em;
  margin-bottom: 1em;
  font-style: oblique;
  font-size: 40px;
}

.j {
  margin-left: -15em;
  margin-top: 2em;
  margin-bottom: 1em;
  font-style: oblique;
  font-size: 40px;
}

.p {
  margin-left: -15em;
  margin-top: 2em;
  margin-bottom: 1em;
  font-style: oblique;
  font-size: 40px;
}

.i {
  margin-left: -15em;
  margin-top: 2em;
  margin-bottom: 1em;
  font-style: oblique;
  font-size: 40px;
}

/* ABOUT ME */

#about {
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

.pr {
  text-align: center;
  padding: 0;
  margin-top: 1.5em;
  margin-left: 9em;
  font-size: 30px;
  line-height: 2em;
  width: 50%;
}

.cn {
  background-color: #9b5de5;
  padding: 10px;
  height: 30em;
  width: 100%;
  margin-top: 15em;
}

@media only screen and (max-width: 600px) {
  /* NAVIGATION BAR */
  header .logo {
    margin-left: 0.5em;
    margin-top: 0.5em;
  }
  nav {
    flex-direction: column;
    margin-right: -15em;
  }

  header .menu {
    flex-direction: column;
  }

  header .menu {
    flex-direction: column;
  }

  header .bar1 {
    width: 3em;
    height: 0.5em;
    background-color: black;
    margin-top: 2em;
    margin-right: 1em;
  }
  header .bar2 {
    width: 3em;
    height: 0.5em;
    background-color: black;
    margin-top: 0.3em;
    margin-right: 1em;
  }
  header .bar3 {
    width: 3em;
    height: 0.5em;
    background-color: black;
    margin-top: 0.3em;
    margin-right: 1em;
  }

  /* TYPEWRITE EFFECT */

  .typewriter p {
    width: 100%;
    font-size: 20px;
    margin-right: -35em;
    margin-left: -12em;
  }

  .typewriter {
    width: 100%;
    text-align: center;
  }

  /* TABLE */

  .contain2 {
    width: 100%;
  }

  .contain1 {
    width: 0%;
  }

  .contain3 {
    width: 0%;
  }

  /* ANIMATED BUTTON */
  .btn {
    display: none;
  }

  /* ABOUT ME */

  #about {
    display: flex;
    flex-direction: column;
    font-size: 10px;
  }

  .pr {
    text-align: center;
    font-size: 20px;
    padding: 0;
    line-height: 2em;
    width: 75%;
    margin-left: 3em;
    margin-top: 8em;
  }

  .cn {
    background-color: #9b5de5;
    padding: 10px;
    height: 30em;
    width: 100%;
    margin-top: 6em;
  }

  /* MY SKILLS GRAPH */

  .skil {
    font-size: 70px;
    margin-bottom: 1em;
  }

  .h {
    margin-left: -7em;
  }

  .c {
    margin-left: -7.5em;
  }

  .j {
    margin-left: -4.5em;
  }

  .p {
    margin-left: -4.5em;
  }

  .i {
    margin-left: -4.5em;
  }
}
